<h2>Đăng Ký Thành Viên</h2>
<hr />
<form action="/Account/Register" method="post" style="max-width: 400px;">
    <div class="mb-3">
        <label>Tên tài khoản (Đặt là "admin" để làm Admin nhé):</label>
        <input type="text" name="Username" class="form-control" required />
    </div>
    <div class="mb-3">
        <label>Mật khẩu:</label>
        <input type="password" name="Password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Tạo tài khoản</button>
</form>