USE [master]
GO
/****** Object:  Database [WebNauAnDb_V16]    Script Date: 6/8/2026 6:21:32 PM ******/
CREATE DATABASE [WebNauAnDb_V16]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebNauAnDb_V16', FILENAME = N'C:\Users\HP Laptop 14\WebNauAnDb_V16.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebNauAnDb_V16_log', FILENAME = N'C:\Users\HP Laptop 14\WebNauAnDb_V16_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebNauAnDb_V16].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebNauAnDb_V16]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/8/2026 6:21:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MucCha] [nvarchar](max) NOT NULL,
	[MucCon] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 6/8/2026 6:21:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecipeId] [int] NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayDang] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 6/8/2026 6:21:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](max) NOT NULL,
	[NguyenLieu] [nvarchar](max) NOT NULL,
	[CongThuc] [nvarchar](max) NOT NULL,
	[HinhanhUrl] [nvarchar](max) NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[LuotLike] [int] NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsSuaDoi] [bit] NOT NULL,
	[TenMonCu] [nvarchar](max) NULL,
	[NguyenLieuCu] [nvarchar](max) NULL,
	[CongThucCu] [nvarchar](max) NULL,
 CONSTRAINT [PK_Recipes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedRecipes]    Script Date: 6/8/2026 6:21:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedRecipes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[RecipeId] [int] NOT NULL,
 CONSTRAINT [PK_SavedRecipes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLikes]    Script Date: 6/8/2026 6:21:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLikes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[RecipeId] [int] NOT NULL,
 CONSTRAINT [PK_UserLikes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/8/2026 6:21:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [MucCha], [MucCon]) VALUES (1, N'Món Chính', N'Món Việt')
INSERT [dbo].[Categories] ([Id], [MucCha], [MucCon]) VALUES (2, N'Món Chính', N'Món Hàn')
INSERT [dbo].[Categories] ([Id], [MucCha], [MucCon]) VALUES (3, N'Món Canh & Lẩu', N'Món Việt')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [RecipeId], [Username], [Role], [NoiDung], [NgayDang]) VALUES (1, 1, N'admin', N'Admin', N'Ngon quá', CAST(N'2026-06-07T22:20:19.2211410' AS DateTime2))
INSERT [dbo].[Comments] ([Id], [RecipeId], [Username], [Role], [NoiDung], [NgayDang]) VALUES (2, 2, N'nqhuong', N'Member', N'Đã làm thử, ngon nha', CAST(N'2026-06-08T18:09:31.3221555' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipes] ON 

SET IDENTITY_INSERT [dbo].[Recipes] OFF
GO
SET IDENTITY_INSERT [dbo].[SavedRecipes] ON 

INSERT [dbo].[SavedRecipes] ([Id], [Username], [RecipeId]) VALUES (1, N'admin', 1)
INSERT [dbo].[SavedRecipes] ([Id], [Username], [RecipeId]) VALUES (2, N'admin', 2)
INSERT [dbo].[SavedRecipes] ([Id], [Username], [RecipeId]) VALUES (3, N'nqhuong', 2)
SET IDENTITY_INSERT [dbo].[SavedRecipes] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLikes] ON 

INSERT [dbo].[UserLikes] ([Id], [Username], [RecipeId]) VALUES (2, N'admin', 1)
INSERT [dbo].[UserLikes] ([Id], [Username], [RecipeId]) VALUES (3, N'nntuyen', 1)
INSERT [dbo].[UserLikes] ([Id], [Username], [RecipeId]) VALUES (4, N'admin', 2)
SET IDENTITY_INSERT [dbo].[UserLikes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (1, N'admin', N'123', N'Admin')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (2, N'nqhuong', N'111', N'Member')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (3, N'nntuyen', N'111', N'Member')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Comments_RecipeId]    Script Date: 6/8/2026 6:21:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_RecipeId] ON [dbo].[Comments]
(
	[RecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Recipes_CategoryId]    Script Date: 6/8/2026 6:21:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_Recipes_CategoryId] ON [dbo].[Recipes]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SavedRecipes_RecipeId]    Script Date: 6/8/2026 6:21:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_SavedRecipes_RecipeId] ON [dbo].[SavedRecipes]
(
	[RecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Recipes_RecipeId] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Recipes_RecipeId]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_Categories_CategoryId]
GO
ALTER TABLE [dbo].[SavedRecipes]  WITH CHECK ADD  CONSTRAINT [FK_SavedRecipes_Recipes_RecipeId] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SavedRecipes] CHECK CONSTRAINT [FK_SavedRecipes_Recipes_RecipeId]
GO
USE [master]
GO
